<head>
 <script type = "text/javascript">
  function myFunction(){
    var toggle_employer = new Boolean;
    toggle_employer = document.getElementById('employer_select').value; 
       if (toggle_employer == "true")
       {
          $("#employer_form").show();
          $("#employee_form").hide();
       }
       else 
       {
          $("#employer_form").hide();
          $("#employee_form").show();
       }
    }
  </script> 
</head>

<body>


<h2>Sign up</h2>

<%= simple_form_for(@user, :url => { :action => "create" }) do |f| %>
  <%= devise_error_messages! %>

  <p> Fields marked with * are required </p>
  <div class="row">
  <div class="rform"><%= f.label "Email *" %><br />
  <%= f.email_field :email, :autofocus => true %></div></div>

  <div class="row">
  <div class="rform"><%= f.label "Username *" %><br />
  <%= f.text_field :username, :autofocus => true %></div></div>


  <div class="row">
  <div class="rform"><%= f.label "Password *" %><br />
  <%= f.password_field :password %></div></div>

  <div class="row">
  <div class="rform"><%= f.label "Password Confirmation *" %><br />
  <%= f.password_field :password_confirmation %></div></div>

  <div class="row">
  <div class="rform1"><%= f.label "First Name *" %><br />
  <%= f.text_field :fname, :autofocus => true %></div>

  <div class="rform1"><%= f.label "Last Name *" %><br />
  <%= f.text_field :lname, :autofocus => true %></div>
  </div>

  <div class="row">
  <div class="rform1"><%= f.label "Phone Number" %><br />
  <%= f.phone_field :phone_number, :autofocus => true %></div></div>

  <div class="row">
  <div class="rform1"><%= f.label "City" %><br />
  <%= f.text_field :city, :autofocus => true %></div>

  <div class="rform1"><%= f.label "State/ province" %><br />
  <%= f.text_field :province, :autofocus => true %></div>

  <div class="rform1"><%= f.label "Country" %><br />
  <%= f.text_field :country, :autofocus => true %></div></div>

  <div class="row">
  <div class="rform1">
    <%= f.input :gender, collection: ['I am..', :Male, :Female, :Other],:default => 1 %>
  </div></div>

  <div class="row">
  <div class="rform1"><%= f.label "Birthday" %><br />
  <%= f.date_field :birthday, :autofocus => true %></div></div>

 


  <div class="row">
  <div class="rform1">
    <%= f.input :employer, collection: [['Looking for work', false], ['Looking to hire',true]], :default => 1, label: "I am" , :input_html => {id: "employer_select",  onchange: "myFunction()"} %>
  </div></div>


  <div id= 'employee_form'>
    <div class="row">
      <div class="rform1"><%= f.label "Goals" %><br />
        <%= f.text_field :goals, :autofocus => true %>
      </div>
    </div>
  </div>
  <div id= 'employer_form', style = "display: none">
    <div class="row">
      <div class="rform1"><%= f.label "Company Name" %><br />
        <%= f.text_field :company_name, :autofocus => true %>
      </div>
    </div>
    <div class="row">
      <div class="rform1"><%= f.label "Company Address" %><br />
        <%= f.text_field :company_address, :autofocus => true %>
      </div>
    </div>
    <div class="row">
      <div class="rform1"><%= f.label "Field" %><br />
        <%= f.text_field :field, :autofocus => true %>
      </div>
    </div>
  </div>


  <div class="row">
  <div class="rformsubmit"><%= f.submit "Sign up", class: "btn btn-medium btn-primary" %></div></div>
<% end %>

</body>

