<head>
</head>
  <body>
    <table>
      <tr>
        <td style = "width:12em"><p><%= postings.title %></p></td>
        <% if !postings.nil? %>
          <% if postings.user_id == @userID %>
            <td><%= link_to "Edit this Posting", edit_posting_path(postings.posting_id), class: "btn btn-small btn-info"%></td>
            <td><%= link_to "Delete this Posting", postings, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-small btn-danger" %></td>
            <td><%= link_to "Add a Requirement", requirements_path(:expID => postings.posting_id), class: "btn btn-small btn-primary" %></td>
            <% end %>
          <% end %>
      </tr>
      <tr>
        <td style = "max-width:12em"><p><%= postings.desc %></p></td>
      </tr>
      <tr>
        <% if !postings.salary.nil? %>
          <td style = "max-width:12em"><p><%= number_to_currency(postings.salary) %></p></td>
        <% end %>
      </tr>
    </table>
    <% @requirements = Requirement.where(:posting_id => postings.posting_id).paginate(page: params[:page]) %>

    <% if !@requirements.nil? %>
    <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Requirements for this posting</p>
    <%= render partial: 'shared/requirements', collection: @requirements %>
  <% end %>
 </body>
