<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
<body class = "portfolio">
  <div class ="welcome">
    Welcome to the JobFinder Website!!
  </div><br/><br/>
<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="row">
  <div class="rform">	
  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div></div></div>

  <div class="row">
  <div class="rform">	
  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div></div></div>


  <div class="row">
  <div class="rform">	
  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div></div></div>
  <% end -%>

  <div class="row">
  <div class="rform">	
  <div><%= f.submit "Sign in", class: "btn btn-medium btn-primary" %></div></div></div>
<% end %>
</body>
</html>
