<h1> <%= @reference.fname %> <%= @reference.lname %>  </h1>
        
    <h2><%= @reference.relationship %> </h2>
    <h2><%= @reference.email %> </h2>
    <h2><%= @reference.phone_number %> </h2>
    <h2><%= @reference.yrsknown %> </h2>