<head>
  <style type="text/css">
    
    .tab_header{
      background: #3399ff; 
      width: 7.5em; 
      height: 2em;
      border-top-left-radius:12px; 
      border-top-right-radius:36px; 
      position: relative;
      text-align: center;
      /*font-weight: bold;*/
      font-size: 16px;
      padding-top: 2px;
      padding-right: 2px;
      margin-right: 2px;
      cursor: pointer;
    }

    .content{
       border: solid #E6813E 5px;
       position: relative; 
       top: -5.5em; 
       background: white;
       line-height: 30px;
      padding-left: 5px;
    }
    #more{
    color: blue;

    }

    #title{

      font-size: 4em;
      font-weight: bold;
      line-height: 1em
    }

    .pic{
      border-right:0.2em solid grey;
      padding-right: 3em;

    }

    #package{

    }

    #cmtBox{

    border: solid #E6813E 5px;
    padding-left: 0.8em;
    width: 100%;
    height: 10em;
    float: left;
    font-size: 1.3em;
    padding-top: 0.5em;
    
}

#cmt{

  font-size: 2.5em;
  margin-left: 1em;

}


  </style>

  <script type="text/javascript">

    function swap(n){
      
      $("#skill").css("background-color", "#3399ff");
      $("#exp").css("background-color", "#3399ff"); 
      $("#ref").css("background-color", "#3399ff");
      $("#skill_text").hide();
      $("#exp_text").hide();
      $("#ref_text").hide();

      if (n==0){
        $("#skill").css("background-color", "#E6813E");
        $("#skill_text").show();
      }
      else if (n==1)
      {
        $("#exp").css("background-color", "#E6813E");
        $("#exp_text").show();
      }
      else
      {
        $("#ref").css("background-color", "#E6813E");
        $("#ref_text").show();
      }  
     

    }

  </script>
</head>


<body>

  <% if  @owner.employer?%>
      <div border = 0 style ="margin-left: 5.5em" >
        <div class = "row" height = 30px style = "padding-left: 1.5em;">
            <div class = "col-lg-4" style ="" >
                <div>
                    <%= image_tag('king.jpeg', :class => "pic") %>
                 </div>
            </div>
            <div class = "col-lg-8" style = "">
                <p id = "title"> <%= @owner.fname %> <%= @owner.lname %> </p>
                <p id = "title"> Hiring At  <%= @owner.company_name %> </p>

                <p id = "title"> 
                  <% if(!@owner.phone_number.empty?) %>
                    Contact: <%= @owner.phone_number %>
                  <% end %>
                </p>
                <p id = "title"> 
                  <% if(!@owner.email.empty?) %>
                    <%= @owner.email %>
                  <% end %>
                </p>
            </div>
        </div>
        
         <%= render partial: 'shared/profilepostings', collection: @postings %>
         
      </div>

    <!-- -------------------------------------------------------------------------------- -->
<% else %>

  <div class = "row" height = 30px style = "padding-left: 1.5em;">
      <div class = "col-lg-4" style ="" >
          <div style = "">
              <%= image_tag('king.jpeg', :class => "pic") %>
           </div>
      </div>
      <div class = "col-lg-8" style = "">
          <p id = "title"> <%= @owner.fname%> <%= @owner.lname%> </p>
          <p id = "title"> <%= @owner.city%> <%= @owner.province%> </p>
          <p id = "title"> <%= @owner.email%></p>
      </div>
  </div>


  <div class = "row" style = "padding-top: 2em">

    <div class = "col-lg-5" style = "height: 20em; vertical-align: top;">

         <p class = "tab_header" style = "background:#E6813E">
            About me
        </p>
        <p id="cmtBox" style = "position:relative; top: -0.8em"> 
            This is what i can do for you 
        </p>
        
      </div>
    <div class = "col-lg-5">
      <div id = "skill" class = "tab_header" style = "background: #E6813E;" onclick = "swap(0)" >
        Skills
      </div>
      <div  id = "exp" class = "tab_header" style = "left: 7.5em; top: -2em" onclick= "swap(1)">
        Experiences
      </div>
      <div id = "ref" style = "left: 15em; top: -4em;" class = "tab_header" onclick= "swap(2)">
        References
      </div>


        <div id = "skill_text" style = "display: inherit;" class = "content">
          <% @array = @skills.to_a %>
          <% if(@array.empty?) %>
            No Skills added yet
          <%else%>
            <% finish = 19 %>
            <% for i in 0..finish%>
              <% if(i < @array.length) %>
                <%= @array[i].label %>
                <% if(i < (@array.length) -1) && (i != finish) %>
                  ,
                <% end %>
              <%end%>
            <%end%>
            <% if @array.length > finish + 1 %>
              </br>
              </br>
              <%= link_to "More",skills_path, :id => "more"%>
            <% end %>
          <%end%>
        </div>

        <div id = "exp_text" style = "display: none;" class = "content">
          <% @array = @experiences.to_a %>
          <% if(@array.empty?) %>
            No Experiences added yet
          <%else %>
            <% finish = 4 %>
            <% for i in 0..finish%>
              <% if(i < @array.length) %>
                <% exp = @array[i].title + " - " + @array[i].company_name %>
                <%= link_to exp, {:controller => "experiences", :action => "details", :id => @array[i].experience_id}, :id => "more"%></br>
              <%end%>
            <%end%>
            <% if @array.length > finish + 1 %>
              </br>
              <%= link_to "More",skills_path, :id => "more"%>
            <% end %>
          <%end%>
        </div>


        <div id = "ref_text" style = "display: none;" class = "content">
           <% @array = @references.to_a %>
           <% if(@array.empty?) %>
              No References added yet
          <%else%>
            <% finish = 4 %>
            <% for i in 0..finish%>
              <% if(i < @array.length) %>
                <% ref = @array[i].fname + " " + @array[i].lname + " - " + @array[i].relationship %>
                <%= link_to ref, {:controller => "references", :action => "one_ref", :id => @array[i].reference_id}, :id => "more"%></br>
              <% end %>
            <% end %>
            <% if @array.length > finish + 1 %>
              </br>
              <%= link_to "More",skills_path, :id => "more"%>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
  <% end %>
</body>