<nav class="navbar" role="navigation" >
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style = "background-color:black;">
    <ul class="nav pull-left">
        <li><%= link_to "Job Cannon", root_path, id: "logo",  style:"text-shadow:none;" %></li>
        <li style = "margin-bottom:0px;">
            <%= form_tag("/search", method: "get") do %>
            <div style = "height:10px; padding-top: 6px;" >
                <%= text_field_tag(:q)%> 
            </div>
        </li>
        <li>
            <div style = "height:10px; padding-top: 0px; padding-left:2px;" >
                <%= submit_tag("Search",class: "btn btn-small btn-primary") %> 
                <% end %>
            </div>
        </li>
    </ul>
    <ul class="nav pull-right">
      <% if user_signed_in? %>
          <li> <%= link_to "Home", profile_path(@user), id: "brand",  style:"text-shadow:none;" %> </li>
        <% if @user.employer? %>
          <li> <%= link_to "Postings", postings_path, id: "brand",  style:"text-shadow:none;" %> </li>
          <li> <%= link_to'Sign Out', destroy_user_session_path, :method => :delete, id:"brand" %>  </li> 
        <% else %>
          <li><%= link_to'Sign Out', destroy_user_session_path, :method => :delete, id:"brand", style:"text-shadow:none;" %>  </li> 
        <% end %>
      <% else %>
          <li><%= link_to "Sign In", new_user_session_path, id: "brand",  style:"text-shadow:none;"%></li>
          <li><%= link_to "Sign Up", new_user_registration_path, id: "brand",  style:"text-shadow:none;" %></li>
      <% end %>
    </ul>  
  </div><!-- /.navbar-collapse -->
</nav>

