<head>
  <style type = "text/css">


  #shrink{
    width: 3.3em;
    height: 3.3em;

  }
  
  </style>

  <link href="/twitter-bootstrap/twitter-bootstrap-v2/docs/assets/css/bootstrap.css" rel="stylesheet" type="text/css" /> 

</head>

<nav class="navbar" role="navigation" style = "margin-left: 0em; padding-left: 0em; position:relative;">
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style = "background-color:black; width: 88em">
    <ul class="nav pull-left">
        <li><%= link_to "Job Cannon", root_path, id: "logo",  style:"text-shadow:none;" %></li>
        <li style = "margin-bottom:0px;">
            <%= form_tag("/search", method: "get") do %>
            <div style = "height:10px; padding-top: 6px;" >
                <%= text_field_tag(:q)%> 
            </div>
        </li>
        <li>
            <div style = "height:10px; padding-top: 0px; padding-left:2px;" >
                <%= image_submit_tag("search.png", class: "btn btn-small btn-primary", id: "shrink") %>
                
                <% end %>
            </div>
        </li>
    </ul>
    <ul class="nav pull-right">
      <% if user_signed_in? %>
          <li> <%= link_to "Home", profile_path(@user), id: "brand",  style:"text-shadow:none;" %> </li>
        <% if @user.employer? %>
          <li> <%= link_to "Postings", postings_path, id: "brand",  style:"text-shadow:none;" %> </li>
          <li> <%= link_to'Sign Out', destroy_user_session_path, :method => :delete, id:"brand" %>  </li> 
        <% else %>
          
          <li class="dropdown" id="accountmenu">  
            <a class="dropdown-toggle" id = "brand" data-toggle="dropdown" style = "text-shadow: none; cursor:pointer"> Account<b class="caret"></b></a>  
            <ul class="dropdown-menu">  
                <li><%= link_to "Eddit Your Account", edit_user_registration_path, id: "brand", style: "color: black" %></li>   
                 <li><%= link_to'Sign Out', destroy_user_session_path, :method => :delete, id:"brand", style:"text-shadow:none; color: black" %>  </li>
              </ul>              
          </li>
        <% end %>
      <% else %>
          <li><%= link_to "Sign In", new_user_session_path, id: "brand",  style:"text-shadow:none;"%></li>
          <li><%= link_to "Sign Up", new_user_registration_path, id: "brand",  style:"text-shadow:none;" %></li>
      <% end %>
    </ul>  
  </div><!-- /.navbar-collapse -->
</nav>
