<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
<<<<<<< HEAD
    <%= javascript_include_tag "application", "data-turbolinks-track" => true%> 
    <%= javascript_include_tag "http://localhost:9292/faye.js"%> 
=======
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "autocomplete-rails.js" %>
>>>>>>> b0f29d9061525871f5435499286c718f5f70078f
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <div class="container">
    <%= render 'layouts/header' %></div>
    
    <div class="container-fluid" style = "padding-left:6em;padding-right:6em;">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <div>
     </div>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>

  </body>
</html>
